<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <%= link_to "", root_path %>
    <a class="navbar-brand" href="/"><h2>Imagepost</h2></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav-bar">
      <ul class=" navbar-nav ml-md-auto align-items-flex-start ">
        <li><%= link_to "投稿", new_post_path, class: "ml-3 btn btn-primary" %></li><br>
        <li><%= link_to "マイページ", user_path(current_user), class: "btn btn-primary" %></li><br>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-primary" %></li>
      </ul>
    </div>
  </div>
</nav>